@font-face {
    font-family: 'Sacramento';
    src: url(fonts/Sacramento-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poiret One';
    src: url(fonts/PoiretOne-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    background-color: rgb(0, 0, 0, 0.5); 
    margin-top: 25vh;
}

header p {
    position: absolute;
    bottom: 1.2rem;
    left: 2rem;
    font-size: 0.8rem;
}

input {
    border-color: rgb(201, 201, 201);
    border-radius: 4px;
}

.page-header {
    background: url(background.jpg);
    background-size: 130%;
    height: 100vh;
    flex: 1;
    color: white;
    text-align: center;
}

.main-form {
    background-color: rgba(223, 222, 222, 0.89);
    color: rgba(49, 49, 49, 0.863);
    flex: 3;
    display: flex;
    flex-direction: column;
}

.form-head {
    flex: 1;
    padding: 13vh 0vh 0vh 4vh;
    font-size: 1.5rem;
}

.control-container {
    display: flex;
}

input,
label {
    display: block;
}

.form-body {
    flex: 3;
    background-color: rgb(248, 248, 248);
    padding: 4vh 0vh 0vh 4vh;
    margin-bottom: 4vh;
    box-shadow: 0 0.2rem 1rem 0.2rem rgba(82, 82, 82, 0.5);
    display: flex;
    flex-direction: column;
}

.input-label {
    margin: 1rem;
}

.form-submit {
    flex: 1;
    padding: 4vh 0vh 0vh 4vh;
}

.form-submit a {
    color: rgb(65, 65, 109);
}

button {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: rgb(39, 39, 39);
    color: white;
    border: none;
    border-radius: 6px;
}

button:active {
    background-color: white;
    color: rgb(39, 39, 39);
}

button:hover {
    filter: brightness(1.8)
}

